@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-font: 'poppins';

      /* Paragraph and link text */
    --font-size-p: clamp(0.875rem, 1rem, 1rem);    /* 14–16px stable */

    /* Smaller responsive headings using clamp(min, preferred, max) */
    --font-size-h1: clamp(1.5rem, 1.75rem, 2rem);  /* ~24–32px */
    --font-size-h2: clamp(1.25rem, 1.5rem, 1.75rem); /* ~20–28px */
    --font-size-h3: clamp(1.125rem, 1.25rem, 1.5rem); /* ~18–24px */

    /*colors*/
    --bg-color: rgb(155, 160, 206);
    --box-color: rgb(242, 241, 239);
    --bg-accent-color: lightgrey;

    --active-box-color: #b2c4e7;
    --active-text-color: #5866b3;
    --nav-text-color: gray;

    --text-color: #3a3636;
    --text-accent-color: #7D6464;
    --a-color: #6B99D2;
    --a-hover-color: #3264d9;
    --border-color: rgba(0, 0, 0, 0.046);


    --frontend-color: #d6d6d6;
    --backend-color: #d6d6d6;
    --other-color: #d6d6d6;
}

[data-theme="dark"] {
  }