@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-font: 'poppins';

      /* Paragraph and link text */
    --font-size-p: clamp(0.875rem, 1rem, 1rem);    /* 14–16px stable */

    /* Smaller responsive headings using clamp(min, preferred, max) */
    --font-size-h1: clamp(1.5rem, 1.75rem, 2rem);  /* ~24–32px */
    --font-size-h2: clamp(1.25rem, 1.5rem, 1.75rem); /* ~20–28px */
    --font-size-h3: clamp(1.125rem, 1.25rem, 1.5rem); /* ~18–24px */

    /*colors*/
    /* light theme (day) */
    --bg-color: #dadada;
    --box-color: #ffffff5e;
    --box-color-accent: #ffffff5e;
    --bg-accent-color: lightgrey;

    --active-box-color: #96cd79;
    --active-text-color:#5c8c26;
    --nav-text-color: gray;

    --text-color: #413c3c;
    --text-accent-color: #7D6464;
    --a-color: #6B99D2;
    --a-hover-color: #3264d9;
    --border-color: rgba(0, 0, 0, 0.046);


    --frontend-color: #ffffff5e;
    --backend-color:#ffffff5e;
    --other-color:#ffffff5e;
}

/* [data-theme="dark"] {
    --bg-color: #111827;
    --box-color: #1f2933;
    --bg-accent-color: #0b1120;

    --active-box-color: #374151;
    --active-text-color: #e5e7eb;
    --nav-text-color: #9ca3af;

    --text-color: #e5e7eb;
    --text-accent-color: #fbbf24;
    --a-color: #60a5fa;
    --a-hover-color: #3b82f6;
    --border-color: rgba(255, 255, 255, 0.08);

    --frontend-color: #4b5563;
    --backend-color: #374151;
    --other-color: #6b21a8;
} */