<section class="social-card">
        <div class="social-icons">
            <a href="https://github.com/Sofieolsenn" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://gitlab.com/sofieolsenEK" target="_blank" rel="noopener noreferrer" aria-label="GitLab">
                <i class="fa-brands fa-gitlab"></i>
            </a>
            <a href="https://gitlab.com/sofieolsenEK" target="_blank" rel="noopener noreferrer" aria-label="Discord">
                <i class="fa-brands fa-discord"></i>
            </a>
            <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQF4iAb2vUOTYgAAAZz3E80gT6Em7GJpckMg60Yn1O6VvOckMSAk0UR0X1LG83vYbV1anZ5Nxu9xtmeojU2T4pr-VVg3awUB7N5VJ-H3K0x9Yqzb-MKi3Xz3jlZM2TS0RHV9cs0=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fsofie-olsen-14204532a%3Futm_source%3Dshare_via%26utm_content%3Dprofile%26utm_medium%3Dmember_ios"
               target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="footer-cv" href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQF4iAb2vUOTYgAAAZz3E80gT6Em7GJpckMg60Yn1O6VvOckMSAk0UR0X1LG83vYbV1anZ5Nxu9xtmeojU2T4pr-VVg3awUB7N5VJ-H3K0x9Yqzb-MKi3Xz3jlZM2TS0RHV9cs0=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fsofie-olsen-14204532a%3Futm_source%3Dshare_via%26utm_content%3Dprofile%26utm_medium%3Dmember_ios"
               target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
               <i class="fa-solid fa-cloud-arrow-down"></i> CV
            </a>
        </div>

        <a class="social-cta" href="/contact" mix-get mix-target="#SPA-container">
            Lets build your idea
        </a>
</section>