<article class="about-container">
    <section class="about-intro">
        <div class="about-intro-content">
            <h1>{{ x.lans("home-hi-im-sofie") }}</h1>
            <p>
                {{ x.lans("about-1") }}
            </p>
            <p>
                {{ x.lans("about-2") }}
            </p>
            <p>
                {{ x.lans("about-3") }}
            </p>
            <a href="/contact" mix-get mix-target="#SPA-container" class="secondary-cta-btn">{{ x.lans("contact-3") }}</a>
        </div>
        <!-- <img src="/../static/img/sofie.png" alt="Sofie's photo"> -->
    </section>


    <section class="about-art-card">
        <a class="about-art-link" href="https://www.instagram.com/sofieevoi?igsh=ejk3dG94OWxpa3l4&utm_source=qr" target="_blank" rel="noopener noreferrer">
            <div class="about-art-overlay">
                <p>Personal art/sketch blog<i class="fa-solid fa-angle-right"></i></p>
            </div>
            <img src="/../static/img/art1.jpg" alt="">
            <img src="/../static/img/art2.jpg" alt="">
            <img src="/../static/img/art3.jpg" alt="">
        </a>
    </section>

</article>