<section class="contact-page">

    <div class="contact-intro">
        <h2>Let’s have a chat.</h2>
        <p>
            Have a project in mind, a question, or just want to explore an idea? I’d love to hear from you.
            Tell me a bit about your project and we’ll figure out the best way to bring it to life.
        </p>
        <p> Tell me a bit about your project and we’ll figure out the best way to bring it to life.</p>
        <a href="mailto:your@email.com" class="email-button">Contact me here</a>
    </div>
</section>