<article class="home-container">
    <section class="home-about">
        <h1>{{ x.lans("home-hi-im-sofie") }}</h1>
        <div class="home-about-content">
            <p>{{ x.lans("home-intro") }}</p>
            <div class="home-about-content-link">
                <a class="secondary-cta-btn" href="#">{{ x.lans("contact-1") }}</a>
                <a class="secondary-cta-btn" href="#">Download CV</a>
            </div>
        </div>
            <!-- <a href="/contact" mix-get mix-target="#SPA-container"><span class="nav-contact">Lets create something together.</span></a> -->
    </section>

    <section class="home-project">
        <div class="home-project-container1">
            <p>{{ x.lans("latest-project") }}</p>
        </div>
        <div class="home-project-container2">
            <h3>Clone of twitter</h3>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </section>

    <section class="home-services">
        <div class="home-services-title">
            <h2>Services</h2>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="home-services-content">
            <section>
                <h3>1</h3>
                <p>{{ x.lans("service-1") }} - <i>Frontend/Backend {{ x.lans("and") }} {{ x.lans("databases") }}</i></p>
            </section>
            <section>
                <h3>2</h3>
                <p>{{ x.lans("service-2") }}</p>
            </section>
            <section>
                <h3>3</h3>
                <p>{{ x.lans("service-3") }}</p>
            </section>
            <section>
                <h3>4</h3>
                <p>{{ x.lans("service-4") }}.</p>
            </section>
        </div>
    </section>

    <section class="home-abilities">
        <div class="home-abilities-header-container">
            <h2>{{ x.lans("skills") }}</h2>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="home-abilities-content-container">
            <p class="frontend-color">HTML & CSS</p>
            <p class="frontend-color">Javascript</p>
            <p class="backend-color">Python (Flask)</p>
            <p class="backend-color">Docker</p>
            <p class="other-color">Relational databases</p>
            <p class="frontend-color">responsive design</p>
            <p class="backend-color">PHP</p>
            <p class="frontend-color">usability & performance</p>
            <p class="other-color">Project management</p>
            <p class="other-color">SQL</p>
        </div>
    </section>
</article>
