<article class="home-container">
    <section class="home-about">
        <h1>Hello, I'm Sofie.</h1>
        <div class="home-about-content">
            <p>I design and build user-friendly digital solutions with clean, maintainable code. As a junior full-stack developer with UX/UI expertise, I handle design, development, and delivery.</p>
            <div class="home-about-content-link">
                <a href="#">Download CV</a>
                <a href="#">Get in touch</a>
            </div>
        </div>
            <!-- <a href="/contact" mix-get mix-target="#SPA-container"><span class="nav-contact">Lets create something together.</span></a> -->
    </section>

    <section class="home-project">
        <div class="home-project-container1">
            <p>Latest project</p>
        </div>
        <div class="home-project-container2">
            <h3>Clone of twitter</h3>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </section>

    <section class="home-services">
        <div class="home-services-title">
            <h2>Services</h2>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="home-services-content">
            <section>
                <h3>1</h3>
                <p>Website Development, Design, Deployment - <i>Frontend/Backend and Databases</i></p>
            </section>
            <section>
                <h3>2</h3>
                <p>Brand Identity, Concept Development & Rebranding</p>
            </section>
            <section>
                <h3>3</h3>
                <p>Product Prototyping and design for Apps & Digital Systems</p>
            </section>
            <section>
                <h3>4</h3>
                <p>Dont let this list limit you, I’m always open for new challenges.</p>
            </section>
        </div>
    </section>

    <section class="home-abilities">
        <div class="home-abilities-header-container">
            <h2>Abilites</h2>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="home-abilities-content-container">
            <p class="frontend-color">HTML & CSS</p>
            <p class="frontend-color">Javascript</p>
            <p class="backend-color">Python (Flask)</p>
            <p class="backend-color">Docker</p>
            <p class="other-color">Relational databases</p>
            <p class="frontend-color">responsive design</p>
            <p class="backend-color">PHP</p>
            <p class="frontend-color">usability & performance</p>
            <p class="other-color">Project management</p>
            <p class="other-color">SQL</p>
        </div>
    </section>
</article>