<nav class="primary-nav">
    <ul>
        <li><a class="nav-a-home" href="/home" mix-get mix-target="#SPA-container"><i class="fa-solid fa-house"></i><span class="nav-home">{{ x.lans("home") }}</span></a></li>
        <li><a href="/about" mix-get mix-target="#SPA-container"><i class="fa-solid fa-user"></i><span>{{ x.lans("about") }}</span></a></li>
        <li><a href="/projects" mix-get mix-target="#SPA-container"><i class="fa-solid fa-folder"></i><span>{{ x.lans("projects") }}</span></a></li>
        <li><a href="/abilities" mix-get mix-target="#SPA-container"><i class="fa-solid fa-bolt"></i><span>{{ x.lans("skills") }}</span></a></li>
        <li><a href="/services" mix-get mix-target="#SPA-container"><i class="fa-solid fa-bell-concierge"></i><span>{{ x.lans("services") }}</span></a></li>
        <li><a class="nav-a-contact" href="/contact" mix-get mix-target="#SPA-container"><i class="fa-solid fa-envelope"></i><span class="nav-contact">{{ x.lans("contact") }}</span></a></li>
    </ul>
    <ul class="sun-en-da">
        {% include "___light_dark_btn.html" %}
       {% include "___lan_btn.html" %}
    </ul>
</nav>