<section class="projects-page">
    <article>
        <div class="project-content">
            <div>
                <h2>Clone of Twitter</h2>
            <p class="project-year">2025</p>
            </div>
            <p class="project-description">
                Fullstack development &
                Relational databases
            </p>
            <a href="#">View project</a>
        </div>
        <div class="project-image">
            <img src="#" alt="#">
        </div>
    </article>

    <article>
        <div class="project-content">
            <div>
                <h2>HILFE – Startup</h2>
                <p class="project-year">2025</p>
            </div>
            <p class="project-description">
                Project management, brand identity, MVP, frontend development, iOS app
                prototyping, competitive analysis, risk analysis and much much more
            </p>
            <span>
                Under construction
            </span>
        </div>
        <div class="project-image">
            <!-- <img src="#" alt="#"> -->
        </div>
    </article>

    <article>
        <div class="project-content">
            <div>
                <h2>Winnie Martemeo</h2>
                <p class="project-year">2025</p>
            </div>
            <p class="project-description">
                Website design, launch and brand identity
            </p>
            <span>
                Under construction
            </span>
            </div>
        </div>
        <div class="project-image">
            <!-- <img src="#" alt="#"> -->
        </div>
    </article>
</section>