<section class="services-page">
    <article>
        <h2>01</h2>
        <div>
            <h3>Website Development, Design, Deployment - Frontend/Backend and Databases</h3>
            <p>For freelancers, creators, startups, or businesses that need a professional website or digital platform.</p>
        </div>
    </article>

    <article>
        <h2>02</h2>
        <div>
            <h3>Brand Identity, Concept Development & Rebranding</h3>
            <p>For startups and businesses that want a strong visual identity or a fresh new brand direction.</p>
        </div>
    </article>

    <article>
        <h2>03</h2>
        <div>
            <h3>Product Prototyping and design for Apps & Digital Systems</h3>
            <p>For founders and teams who want to turn an idea into a testable digital product.</p>
        </div>
    </article>

    <article>
        <h2>04</h2>
        <div>
            <h3>Dont let this list limit you, I’m always open for new challenges.</h3>
            <p>Have an idea, problem, or project in mind? Let’s talk and figure out the best solution together.</p>
        </div>
    </article>
</section>
<section class="services-page-prices">
    <h2>Prices and scope</h2>
    <p>Every project is unique, so pricing is tailored to your specific needs. Once we understand the scope, complexity, and timeline, we’ll find the best solution together.</p>
    <p>If you are curious about the general prices feel free to contact me. I’m also happy to contribute to specific parts of a project, whether you need additional support or a fresh perspective in a particular area.</p>
    <a href="#" class="secondary-cta-btn">Contact me</a>
</section>