<section class="services-page">
    <article>
        <h3>01</h3>
        <div>
            <p>Website Development, Design, Deployment - Frontend/Backend and Databases</p>
            <p><em>Typical customer:</em> Small businesses or startups looking to launch or improve their website and digital presence.</p>
        </div>
    </article>
    <article>
        <h3>02</h3>
        <div>
            <p>Brand Identity, Concept Development & Rebranding</p>
            <p><em>Typical customer:</em> Companies needing a fresh look or a complete brand overhaul to attract new audiences.</p>

        </div>
    </article>
    <article>
        <h3>03</h3>
        <div>
            <p>Product Prototyping and design for Apps & Digital Systems</p>
            <p><em>Typical customer:</em> Startups and tech teams looking to visualize and test new digital products before launch.</p>
        </div>
    </article>
    <article>
        <h3>04</h3>
        <div>
            <p>Dont let this list limit you, I’m always open for new challenges.</p>
        </div>
    </article>
</section>