<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/static/mixhtml.js" defer></script>
    <script src="/static/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <main>
        {% include "_nav.html" %}
        <p>{{ x.lans("hi") }}</p>
        <div id="SPA-container">
            {% include "_home.html" %}
        </div>
        {% include "___footer.html" %}
        {% include "_nav-mobile.html" %}
    </main>
</body>
</html>